/* Hide scrollbar for all browsers */
body {
  scrollbar-width: 0; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

/** For All Headings  */
.gradient {
  background: linear-gradient(to right, #7549f2, #da53f7);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/** Home Section */
#home {
  position: relative;
  background: url("../assets/herosection2.webp") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: grid;
  place-content: center;
  color: black;
  overflow: hidden;
}

/* Add a pseudo-element for the glass effect overlay */
#home::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #ba9df150, #f3eefcd6, #ba9df150);
  backdrop-filter: blur(5px);
  z-index: 0;
}

/* Push your content above the glass layer */
#home > * {
  position: relative;
  z-index: 1;
}

.blink {
  animation: blink 0.7s infinite;
  color: #da53f7;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.icon-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin: 0px 5px;
  color: white;
  border-radius: 50%;
  border: 3px solid #fff;
  text-decoration: none;
  transition: all 0.3s linear;
  &:hover {
    transform: translateY(-5px);
  }
}

.linkedin {
  background-color: #0077b5;
  color: #fff;
  transition: all 0.3s linear;

  &:hover {
    filter: drop-shadow(0px 0px 10px #0077b5);
  }
}

#github {
  background-color: #181717;
  color: #fff;
  transition: all 0.3s linear;

  &:hover {
    filter: drop-shadow(0px 0px 10px #181717);
  }
}

.facebook {
  background-color: #1877f2;
  color: #fff;
  transition: all 0.3s linear;

  &:hover {
    filter: drop-shadow(0px 0px 10px #1877f2);
  }
}

.instagram {
  background-color: #e1306c;
  color: #fff;
  transition: all 0.3s linear;

  &:hover {
    filter: drop-shadow(0px 0px 10px #e1306c);
  }
}

.email {
  background-color: #d44638;
  color: #fff;
  transition: all 0.3s linear;

  &:hover {
    filter: drop-shadow(0px 0px 10px #d44638);
  }
}

.realistic-mouse-scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mouse {
  width: 35px;
  height: 50px;
  border: 2px solid #222;
  border-radius: 25px;
  position: relative;
}

.wheel {
  width: 5px;
  height: 8px;
  background-color: #222;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  animation: wheel-scroll 1.5s infinite ease-in-out;
}

@keyframes wheel-scroll {
  0% {
    transform: translateX(-50%) translateY(0);
    opacity: 0.8;
  }
  50% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(15px);
    opacity: 0;
  }
}

.cv-btn {
  background: linear-gradient(to right, #7549f2, #da53f7);
  filter: drop-shadow(0 0 10px hsl(256, 87%, 62%));
}

/** About Section */

#about {
  height: auto;
  background: linear-gradient(45deg, #ba9df1, #f3eefc, #ba9df1);
}

.img-container {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}

.img-container:hover img {
  transform: scale(1.03); /* Slight zoom-in on hover */
}

/* Shine beam */
.shine {
  position: absolute;
  top: -150%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  transform: rotate(0deg);
  filter: blur(20px);
  pointer-events: none;
  opacity: 0;
}

/* Trigger animation on hover */
.img-container:hover .shine {
  animation: shineEffect 0.8s linear;
}

/* Keyframes for shine beam movement */
@keyframes shineEffect {
  0% {
    top: -150%;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}

.shade {
  padding: 0px 15px;
  border-left: 5px solid #995cef;
  border-radius: 15px;
}

/** Skills Section */

#skills {
  height: auto;
}

/* Base Box Style */
.box {
  transition: all 0.3s linear;
  &:hover {
    transform: translateY(-10px) !important;
  }
}

/* HTML */
.html {
  background: linear-gradient(45deg, #ffb3a1, #ffddd4, #ffb3a1);
  color: #ff5833;
}

/* CSS */
.css {
  background: linear-gradient(45deg, #c5a2f7, #e9d9f5, #c5a2f7);
  color: #6d399e;
}

/* JavaScript */
.js {
  background: linear-gradient(45deg, #f7e37b, #fff9d0, #f7e37b);
  color: #ffe62a;
}

/* Bootstrap */
.bootstrap {
  background: linear-gradient(45deg, #d1a7f2, #e4d5fd, #d1a7f2);
  color: #6e10f4;
}

/* GitHub */
.github {
  background: linear-gradient(45deg, #a9a9a9, #dcdcdc, #a9a9a9);
  color: #24292e;
}

/* React */
.react {
  background: linear-gradient(45deg, #58c4dc, #d6f3fa, #58c4dc);
  color: #0090b0;
}

/* Git */
.git {
  background: linear-gradient(45deg, #f07a56, #f1502f50, #f07a56);
  color: #f1502f;
}

/* Npm */
.npm {
  background: linear-gradient(45deg, #d3d3d3, #eee, #d3d3d3);
  color: #f1502f;
}

/* Node.js */
.node {
  background: linear-gradient(45deg, #82e07e, #c9f4cc, #82e07e);
  color: #4aaa4d;
}

/** Projects Section */

#projects {
  height: auto;
}

.company-logo {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-1 {
  background: linear-gradient(45deg, #e1d0a5, #f5f0df, #e1d0a5);
}

.cards-2 {
  background: linear-gradient(45deg, #f0e636, #fdf6a4, #f0e636);
}

.cards-3 {
  background: linear-gradient(45deg, #ba9df1, #f3eefc, #ba9df1);
}

/** Contact Section */

#contact {
  height: auto;
}

.form {
  color: #fff;
  background: linear-gradient(45deg, #ba9df1, #9366e7, #ba9df1);
  transition: all 0.4s linear;
  &:hover {
    box-shadow: 0 12px 40px rgba(217, 83, 247, 0.2),
      0 -12px 40px rgba(118, 73, 242, 0.2), 0 16px 80px rgba(217, 83, 247, 0.15),
      0 -16px 80px rgba(118, 73, 242, 0.15);
  }
}

.btn-linkedin {
  background: linear-gradient(45deg, #0077b5, #00a0dc);
  color: #fff;
  transition: all 0.3s linear;
}
.btn-linkedin:hover {
  color: #fff;
  box-shadow: 0 0 15px #00a0dc;
}

.btn-github {
  background: linear-gradient(45deg, #181717, #333);
  color: #fff;
  transition: all 0.3s linear;
}
.btn-github:hover {
  color: #fff;
  box-shadow: 0 0 15px #333;
}

.btn-facebook {
  background: linear-gradient(45deg, #1877f2, #4e9cf5);
  color: #fff;
  transition: all 0.3s linear;
}
.btn-facebook:hover {
  color: #fff;
  box-shadow: 0 0 15px #4e9cf5;
}

.btn-instagram {
  background: linear-gradient(45deg, #e1306c, #fd1d1d, #f77737);
  color: #fff;
  transition: all 0.3s linear;
}
.btn-instagram:hover {
  color: #fff;
  box-shadow: 0 0 15px #fd1d1d;
}

.btn-email {
  background: linear-gradient(45deg, #d44638, #ff6651);
  color: #fff;
  transition: all 0.3s linear;
}
.btn-email:hover {
  color: #fff;
  box-shadow: 0 0 15px #ff6651;
}
