/* Hide scrollbar for all browsers */
body {
  scrollbar-width: 0; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

/** For All Headings  */
.gradient {
  background: linear-gradient(to right, #7549f2, #da53f7);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/** Home Section */
#home {
  position: relative;
  background: url("../assets/bgvVideo.webp") no-repeat center center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.fade-up-text {
  display: inline-block;
  animation: fadeUpInOut 0.8s linear;
  font-weight: 700;
  text-shadow: 1px 1px 2px white;
}

/* Combined fade out & in upward animation */
@keyframes fadeUpInOut {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* .realistic-mouse-scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .mouse {
  width: 35px;
  height: 50px;
  border: 2px solid #222;
  border-radius: 25px;
  position: relative;
} */

/* .wheel {
  width: 5px;
  height: 8px;
  background-color: #222;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  animation: wheel-scroll 1.5s infinite ease-in-out;
} */

/* @keyframes wheel-scroll {
  0% {
    transform: translateX(-50%) translateY(0);
    opacity: 0.8;
  }
  50% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(15px);
    opacity: 0;
  }
} */

/** About Section */

.img-container {
  position: relative;
  height: 400px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.4));
  overflow: hidden;
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .img-container {
    position: relative;
    height: 350px;
    overflow: hidden;
  }
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}

.img-container:hover img {
  transform: scale(1.03); /* Slight zoom-in on hover */
}

/* Shine beam */
.shine {
  position: absolute;
  top: -150%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  transform: rotate(0deg);
  filter: blur(20px);
  pointer-events: none;
  opacity: 0;
}

/* Trigger animation on hover */
.img-container:hover .shine {
  animation: shineEffect 0.8s linear;
}

/* Keyframes for shine beam movement */
@keyframes shineEffect {
  0% {
    top: -150%;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}

.shade {
  padding: 0px 15px;
  border-left: 5px solid #995cef;
  border-radius: 15px;
}

/** Skills Section */

#skills {
  height: auto;
}

/* HTML */
.html {
  background: radial-gradient(circle, #ffddd4 30%, #ffb3a1 100%);
  color: #ff5833;
}

/* CSS */
.css {
  background: radial-gradient(circle, #e9d9f5 30%, #c5a2f7 100%);
  color: #6d399e;
}

/* JavaScript */
.js {
  background: radial-gradient(circle, #fff9d0 30%, #f7e37b 100%);
  color: #ffe62a;
}

/* Bootstrap */
.bootstrap {
  background: radial-gradient(circle, #e4d5fd 30%, #d1a7f2 100%);
  color: #6e10f4;
}

/* GitHub */
.github {
  background: radial-gradient(circle, #dcdcdc 30%, #a9a9a9 100%);
  color: #24292e;
}

/* React */
.react {
  background: radial-gradient(circle, #d6f3fa 30%, #58c4dc 100%);
  color: #10a9cc;
}

/* Git */
.git {
  background: radial-gradient(circle, #fdb8a3 30%, #f07a56 100%);
  color: #f1502f;
}

/* Npm */
.npm {
  background: radial-gradient(circle, #f2eaea 30%, #f9bebe 100%);
  color: #e93916;
}

/* MongoDB */
.mongodb {
  background: radial-gradient(circle, #c9f4cc 30%, #00ec64 100%);
  color: #03ae4b;
}

/* Node.js */
.node {
  background: radial-gradient(circle, #c9f4cc 30%, #82e07e 100%);
  color: #4aaa4d;
}

/* Express.js */
.express {
  color: #fff;
  background: radial-gradient(circle, #313337 30%, #010409 100%);
}

/* Tailwind CSS */
.tailwind {
  color: #38bdf8;
  background: radial-gradient(circle, #bce6f8 30%, #38bdf8 100%);
}

/** Projects Section */

#projects {
  height: auto;
}

.modal-backdrop {
  transition: all 0.3s ease-in-out;
}

.card {
  transition: transform 0.3s ease-in-out;
}

/** Contact Section */

#contact {
  height: auto;
}

.form {
  color: #fff;
  background: linear-gradient(45deg, #ba9df1, #9366e7, #ba9df1);
}
